.section {
	height: 33em;
	width: 90%;
	margin-left: 5%;
	background-color: rgba(149, 43, 29, .4);
}

#sign-up-form {
	margin-top: 6%;
	margin-left: 7%;
}

.section-two {
	height: 25em;
	width: 100%;
	background-color: rgb(254, 253, 245);
}

#form-container {
	display: none;
}

#form-container-two {
	display: none;
}

#modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, .4);
}

#show-modal{
	top: 25%;
	left: 25%;
	width: 75%;
	height: 75%;
}

/*#submit-email {
	width: 8em;
	height: 3em;
	background-color: blue;
	color: white;
	font-size: .9em;
	margin-left: 2%;
}*/

button {
	width: 8em;
	height: 3em;
	background-color: blue;
	color: white;
	font-size: .9em;
	margin-left: 2%;
}

#user-email {
	width: 11em;
	height: 3em;
}

.body > input {
	margin: 1% 1% 1% 1%;
}

.body > button {
	margin: 1% 1% 1% 1%;
	width: 8em;
	height: 3em;
}

.entry > h1 {
	margin: 3% 1% 1% 1%;
}

#show-chart {
	height: 50%;
	width: 50%;
	margin-top: 3%;
}

#legend-list {
	list-style-type: none;
	display: inline-block;
}

#legend {
	display: inline-block;
}
input {
	font-size: 1em;
}
#chart-container {
	display: none;
	background-color: #C8C8C8;
	margin-top: 10%;
}

#third-question {
	display: none;
}

h3 {
	text-align: center;
}
